* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 18px;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center ;
    padding: 20px 250px;
}

.para {
    color: #E5E7EB;
    margin-bottom: 10px;
}

.logo {
    color: #fff;
    font-weight: 900;
    font-size: 24px;
}

.links {
    display: flex;
    list-style: none;
    gap: 20px;
}

img {
    width: 500px;
    height: 250px;
}

a {
    text-decoration: none;
    color: #fff;
}

.container-1 {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    gap: 50px;
    padding: 100px 250px;
    justify-content: space-between;

}

.container-1 p {
    color: #FFF;
    margin-bottom: 10px;
}

.button-1 {
    color: #FFF;
    background-color: #3882F6;
    border: none;
    padding: 8px 25px;
    font-size: 18px;
    border-radius: 10px;
    font-weight: bold;

}

.big-text {
    font-weight: 900;
    font-size: 48px;
    color: #FFF;
}


.big-title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 36px;
    color: #1F2937;
    padding: 50px;
}


.box {
    color: #3882F6;
    width: 150px;
    height: 150px;
    border: 4px solid;
    border-radius: 10px;
    margin-bottom: 10px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-bottom: 100px;
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #1F2937;
}

.container-3 {
    background-color: #E5E7EB;
    padding: 150px;
}

.quote {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 10px;
    font-family: serif;
    color: #1F2937;
}

.thor {
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: 900;
    margin-left: 400px;
}

.call-container {
    display: flex;
    padding: 50px 100px;
    background-color: #3882F6;
    color: #E5E7EB;
    justify-content: space-between;
    border-radius: 5px;
    align-items: center;
}

.container-4 {
    padding: 100px 300px;
}

.inner-call {
    font-weight: 900;
}

.call-container button {
    color: #FFF;
    background-color: #3882F6;
    padding: 5px 25px;
    border-radius: 10px;
    border-color: #FFF;
    border: 2px solid;
}

.footer {
    display: flex;
    border: 2px solid;
    padding: 20px;
    font-size: small;
    justify-content: center;
    background-color: #1F2937;
    color: #FFF;

}