* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container {
    background-color: #1F2937;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.container-1 {
    display: flex;
}

img {
    height: ;
}

.links {
    display: flex;
    list-style: none;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #fff;
}

.logo {
    font-weight: 900;
    font-size: 36px;
    color: #fff;
}